/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* font-family: 'Bangers', cursive;
font-family: 'Noto Sans HK', sans-serif; */


/*colors
light blue  #139fec
dark Blue   #06599f
golden      #e5a110
*/


/*----------- BODY --------------*/

body {
    padding: 5px;
    font-size: 16px;
    font-family: 'Noto Serif JP', serif;
    color: #173F5F;
}
body a{color: #e5a110;}

body h1,h2,h3 {
    font-family: 'Noto Sans HK', sans-serif;
}


/*----------- BANNER --------------*/
div#banner{
    background-color: #e5a110;
    margin: 0;
    padding: 3px;
    text-align: center;
    font-size: .6rem;
}
div.showme{
    display: block; 
}
div.hideme{
    display: none; 
}


/*----------- HEADER --------------*/
header {
    background-image:
      radial-gradient(
        circle at bottom right,
        #139fec,
        #f1f1f1 70%
      );
    padding-top: 0;
    color: black;
    padding-top: 15px;
    margin: 0;
}

header img {
    float: left;
    width: 100px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
}

.ham{
    /* position: absolute; */
    color: #173F5F;
    float: right;
    margin: 10px;
    padding: 8px;
    text-decoration: none;
    border: 2px solid #20639B;
    border-radius: 7px;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color:#20639B;
    padding-top: 0;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li.active a {
    background-color:#139fec;
    color: #dfdfdf;
}

/* .navigation li:first-child {
    display: block;
} */

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color:#dfdfdf;
    padding: .5rem;
    text-decoration: none;
    font-size: .9rem;
}

.navigation a:hover {
    background-color: #139fec;
    color: #20639B;
}

.responsive li {
    display: block;
    margin: 0;
}


/*----------- MAIN --------------*/
section.hero {
    position: relative; 
}

.herophoto img{
    width: 100%;
    opacity: 90%;
}

.herotext {
    position: absolute;
    top: 0;
    margin-left: 5px;
    width: 100%;
    padding: 10px;
}

.herotext h1 {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
}

main img{
width:100%;
}

.button {
    background-color: #eb3d12;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }



  /*----------- FOURM --------------*/


.icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px; 
    margin: 20px;
}
.icons img{
    width:30px;
}
.icons a{
    color: #20639B;
}

.icons a:hover{
color:#139fec;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #20639B;
    padding: .5rem 2%;
    text-align: center;
    color: #f1f1f1;
    font-size: .7rem;
}

footer a{
    color: #e5a110;
    text-decoration: none;
  }

  
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
