/* 35em is also 640 (if basefont is 16px) */
@media only screen and (min-width: 40rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
header img {
    width: 100px;
    margin-left: 1rem;
}
header h1{font-size: 2rem;}
header h2{font-size: 1.2rem;}



/*----------- NAVIGATION --------------*/

nav {
    background-color: #173F5F;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav ul li a:hover {
    background-color: #F6D55C;
    color: #20639B;
}

nav ul li.active a {
    background-color: #F6D55C;
    color: #173F5F;
}

.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

/*----------- MAIN --------------*/

main avatar img{
    width: 150px;
}

.weatherReport {
    top: 20px;
    padding: .5rem;
    font-size: 1rem;
  
}


.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  #weatherforecast{
    margin: initial;
    display: flex;
}
.card{
    /* display: block; change state in small view */
    flex: 1 1 auto;
}


    .article img{
        width: 300px;
        float: right;
        margin: 10px;
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact iframe{
        display: grid;
    }

    
div#gallerywrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.gallery {
    margin: 20px;
  }

/* ***Cards****/

.cards {
    column-count: 2;
    column-gap: 30px;
    row-gap: 50px;
  }


/*----------- FOURM --------------*/

input[type=text], input[type=number], input[type=tel], input[type=email]{
    width: 50%;
  }

textarea {
    width: 50%;
  }




/*----------- FOOTER --------------*/
    
} /* end of media query */
