@media only screen and (min-width: 560px ){

    * {-moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; box-sizing: border-box;

    }  /* end of media file */
    }
    /* body rules here */
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;

    }
    /* header rules here */
    header {
        background-color: #5ac794;
        padding: 1rem 2%;
    }
    header h1{
        margin: 0;
        font-weight: bold;
    }
    header h2{
        margin: 0;
    }
    /* navigation rule here */
    nav {background-color: #111;}
    nav ul {margin: 0; padding: 0;}
    nav li {list-style-type: none;}
    new li.active {background-color: #333;}

    nav a {
        display: block;
        padding: .8rem 0;  /* 44 mi height*/ 
        color: #eee;
        text-align: center;
        text-decoration: none;
    }
    nav a hover {background-color: #444;}

    main{
        padding: 1rem 2%;
        display: block;

    }
    main h1{
        color:#5ac794;
    }
    main figure img{width: 100%}
    main figure{
        width: 100%;
        margin: 0;
    }
    main figcaption {text-align: center; font-size: 2rem;}

    footer{
        background-color: #5ac794;
        text-align: center;
        padding: 15px;
    }

    




    .clearfix:after{
        content: "";
        display: table;
        clear: both;
    }


