

/* font-family: 'Coda Caption', sans-serif;
font-family: 'Noto Sans HK', sans-serif; */


/*colors
light blue  #139fec
dark Blue   #06599f
golden      #e5a110
*/


$primaryColor: #06599f;

$fontFamily: 'Noto Sans HK', sans-serif;
$regularweight: 400;
$heaveyweight: 700;
 

$gutter: 2%;