/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {background-color: #3CAEA3;}



/*----------- NAVIGATION --------------*/
div#navWrapper {background-color: #173F5F;}



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
div#footerWrapper {background-color: #173F5F;}
    
} /* end of media query */