/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


 /* unvisited link */
    a:link {
    color: #ED553B;
    text-decoration: none;
  }
  


/* ---- COLORS----- 
    Dark Blue   #173F5F
    Light Blue  #20639B
    Teal        #3CAEA3
    Yellow      #F6D55C
    Orange      #ED553B
*/

/*----------- BODY --------------*/
body {
    padding: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #173F5F;
}


/*----------- HEADER --------------*/
header {
    background-color:#3CAEA3;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}
header img {float: left; width: 50px;}
header h1 {margin: 0;font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal;font-size: .8rem;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #20639B;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #F6D55C;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #F6D55C;
    color: #20639B;
}

nav ul li.active a {
    background-color: #F6D55C;
    color: #173F5F;
}
/*----------- MAIN --------------*/
main {
    padding: 5px;
    min-height: 10rem;
    font-family: cursive
}
main img {
    width: 100%;
}
main logo img{
    width: auto;
}
main avatar img{
    float: right; 
    width: 150px;
    border-style: ridge;
    border-color: #20639B; 
    border-radius: 10px;
    margin: 10px;
}

/*----------- SECTION --------------*/

section{
    
    padding: 2px;
    border-style: ridge;
    border-color: #20639B;
    border-radius: 5px;
    background-color:#ED553B;
    border-color: #20639B;
    border-radius: 5px;
}


section img {
    float: right; 
    width: 150px; 
}

/*----------- FOOTER --------------*/
footer {
    background-color:#20639B;
    padding: .5rem 2%;
    text-align: center;
    color:  #F6D55C;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}